.content__about {
    align-items: center;
    padding: 200px 200px 100px 200px;
}

.about__image {
    position: relative;
    width: 40vw;
    height: 400px;
    mask-image: -webkit-linear-gradient(to right, black 0%, transparent 100%);
    mask-image: -moz-linear-gradient(to right, black 0%, transparent 100%);
    mask-image: -o-linear-gradient(to right, black 0%, transparent 100%);
    mask-image: linear-gradient(to right, black 0%, transparent 100%);
    -webkit-mask-image: -webkit-linear-gradient(to right, black 0%, transparent 100%);
    -webkit-mask-image: -moz-linear-gradient(to right, black 0%, transparent 100%);
    -webkit-mask-image: -o-linear-gradient(to right, black 0%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 0%, transparent 100%);
}

.about__image img {
    height: 100%;
    object-fit: cover;
}

.about__text {
    color: var(--white);
    font-size: 24px;
    padding: 10px;
    text-align: justify;
    width: 70vw;
    position: relative;
    left: -50px;
}

@media (max-width: 1500px) {
    .content__about {
        align-items: center;
        padding: 100px 50px 100px 50px;
    }
    .about__image {
        width: 40vw;
    }
}

@media (max-width: 1000px) {
    .content__about {
        padding: 100px 50px 100px 50px;
    }
    .about__image {
        width: 100vw;
        mask-image: -webkit-linear-gradient(to right, black 0%, transparent 50%);
        mask-image: -moz-linear-gradient(to right, black 0%, transparent 50%);
        mask-image: -o-linear-gradient(to right, black 0%, transparent 50%);
        mask-image: linear-gradient(to right, black 0%, transparent 50%);
        -webkit-mask-image: -webkit-linear-gradient(to right, black 0%, transparent 50%);
        -webkit-mask-image: -moz-linear-gradient(to right, black 0%, transparent 50%);
        -webkit-mask-image: -o-linear-gradient(to right, black 0%, transparent 50%);
        -webkit-mask-image: linear-gradient(to right, black 0%, transparent 50%);
    }
    .about__text {
        position: absolute;
        left: 22%;
    }
}

@media (max-width: 800px) {
    .content__about {
        padding: 50px 0px 50px 0px;
    }
    .about__image {
        width: 100vw;
        mask-image: -webkit-linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.4) 50%, transparent 100%);
        mask-image: -moz-linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.4) 50%, transparent 100%);
        mask-image: -o-linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.4) 50%, transparent 100%);
        mask-image: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.4) 50%, transparent 100%);
        -webkit-mask-image: -webkit-linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.4) 50%, transparent 100%);
        -webkit-mask-image: -moz-linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.4) 50%, transparent 100%);
        -webkit-mask-image: -o-linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.4) 50%, transparent 100%);
        -webkit-mask-image: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.4) 50%, transparent 100%);
    }
    .about__image img {
        width: 100%;
    }
    .about__text {
        width: 100%;
        padding: 50px;
        box-sizing: border-box;
        position: absolute;
        left: 0px;
    }
}

@media (max-width: 600px) {
    .about__text {
        font-size: 16px;
    }
}