body {
    background-color: var(--dark-grey);
}

.header {
    height: 700px;
    font-family: var(--header-font);
    color: var(--white);
}

.header__text {
    height: 12%;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
}

.text__logo {
    font-size: 48px;
    position: relative;
}

.logo__sublogo {
    font-size: 14px;
    position: absolute;
    right: -10px;
    bottom: 10px;
}

.text__nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link,
.footer__link {
    font-family: var(--content-font);
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    font-weight: 600;
    font-size: 36px;
    text-shadow: 1px 1px 2px black;
}

.nav__link:hover,
.nav__link--active {
    color: var(--red);
}

.header__bg {
    width: 100%;
    height: 88%;
    position: relative;
}

@keyframes bgFading {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bg__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    animation-name: bgFading;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    background-size: cover;
}

.bg__img:nth-of-type(1) {
    animation-delay: 9s;
    background-image: url('../assets/bg1.webp');
}

.bg__img:nth-of-type(2) {
    animation-delay: 6s;
    background-image: url('../assets/bg2.webp');
}

.bg__img:nth-of-type(3) {
    animation-delay: 3s;
    background-image: url('../assets/bg3.webp');
}

.bg__img:nth-of-type(4) {
    animation-delay: 0s;
    background-image: url('../assets/bg4.webp');
}

.header__bg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#474747+0,2989d8+50,474747+100&1+0,0+50,1+100 */
    background: -moz-linear-gradient(top, rgba(71, 71, 71, 1) 0%, rgba(41, 137, 216, 0) 50%, rgba(71, 71, 71, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(71, 71, 71, 1) 0%, rgba(41, 137, 216, 0) 50%, rgba(71, 71, 71, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(71, 71, 71, 1) 0%, rgba(41, 137, 216, 0) 50%, rgba(71, 71, 71, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#474747', GradientType=0);
    /* IE6-9 */
}

.content {
    max-height: 700px;
    overflow: hidden;
    position: relative;
    font-family: var(--content-font);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
}

.footer {
    font-family: var(--content-font);
    color: var(--white);
    font-size: 30px;
    height: auto;
    background-color: var(--red);
}

.footer__main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    padding: 50px 150px;
}

.footer__menu {
    text-align: right;
}

.footer__link {
    display: block;
}

.footer__link:hover,
.footer__link--active {
    text-shadow: 3px 3px 3px var(--dark-grey);
}

.footer__data {
    text-align: left;
}

.footer__author {
    background-color: var(--dark-grey);
    font-size: 12px;
    text-align: center;
}

.footer__author .author__link {
    text-decoration: none;
    color: var(--white);
}

@media (max-width: 1500px) {
    .bg__img:nth-of-type(1) {
        background-image: url('../assets/bg1-1500.webp');
    }
    .bg__img:nth-of-type(2) {
        background-image: url('../assets/bg2-1500.webp');
    }
    .bg__img:nth-of-type(3) {
        background-image: url('../assets/bg3-1500.webp');
    }
    .bg__img:nth-of-type(4) {
        background-image: url('../assets/bg4-1500.webp');
    }
}

@media (max-width: 1300px) {
    .header__text {
        padding-left: 50px;
        padding-right: 50px;
    }
    .nav__link {
        font-size: 26px;
    }
    .bg__img:nth-of-type(1) {
        background-image: url('../assets/bg1-1500.webp');
    }
    .bg__img:nth-of-type(2) {
        background-image: url('../assets/bg2-1500.webp');
    }
    .bg__img:nth-of-type(3) {
        background-image: url('../assets/bg3-1500.webp');
    }
    .bg__img:nth-of-type(4) {
        background-image: url('../assets/bg4-1500.webp');
    }
    .content {
        padding: 50px 0;
    }
    .footer {
        font-size: 20px;
    }
}

@media (max-width: 1000px) {
    .nav__link {
        font-size: 16px;
    }
    .bg__img:nth-of-type(1) {
        background-image: url('../assets/bg1-1000.webp');
    }
    .bg__img:nth-of-type(2) {
        background-image: url('../assets/bg2-1000.webp');
    }
    .bg__img:nth-of-type(3) {
        background-image: url('../assets/bg3-1000.webp');
    }
    .bg__img:nth-of-type(4) {
        background-image: url('../assets/bg4-1000.webp');
    }
    .content {
        max-height: 500px;
    }
    .footer {
        font-size: 20px;
    }
    .footer__main {
        gap: 200px;
        padding: 50px 100px;
    }
}

@media (max-width: 800px) {
    .bg__img:nth-of-type(1) {
        background-image: url('../assets/bg1-800.webp');
    }
    .bg__img:nth-of-type(2) {
        background-image: url('../assets/bg2-800.webp');
    }
    .bg__img:nth-of-type(3) {
        background-image: url('../assets/bg3-800.webp');
    }
    .bg__img:nth-of-type(4) {
        background-image: url('../assets/bg4-800.webp');
    }
}

@media (max-width: 600px) {
    .header {
        height: 500px;
    }
    .header__text {
        height: 22%;
        padding-left: 20px;
        padding-right: 20px;
        flex-flow: column;
    }
    .text__logo {
        text-align: center;
    }
    .logo__sublogo {
        right: 0px;
        bottom: -8px;
    }
    .text__nav {
        width: 100%;
    }
    .nav__link {
        font-size: 16px;
    }
    .content {
        max-height: 700px;
        overflow: hidden;
        position: relative;
        font-family: var(--content-font);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 150px 0;
        overflow-y: none;
    }
    .footer {
        font-size: 16px;
    }
    .footer__main {
        gap: 50px;
        padding: 20px;
    }
    .footer__menu {
        text-align: right;
    }
    .footer__link {
        display: block;
    }
    .bg__img:nth-of-type(1) {
        background-image: url('../assets/bg1-600.webp');
    }
    .bg__img:nth-of-type(2) {
        background-image: url('../assets/bg2-600.webp');
    }
    .bg__img:nth-of-type(3) {
        background-image: url('../assets/bg3-600.webp');
    }
    .bg__img:nth-of-type(4) {
        background-image: url('../assets/bg4-600.webp');
    }
}

@media (max-width: 300px) {
    .header {
        height: 400px;
    }
    .header__text {
        height: 40%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .header__bg {
        height: 60%;
    }
    .text__logo {
        font-size: 40px;
    }
    .logo__sublogo {
        right: 10px;
        bottom: -5px;
    }
    .text__nav {
        width: 100%;
        align-items: center;
        flex-flow: column;
    }
    .nav__link {
        font-size: 16px;
    }
    .bg__img:nth-of-type(1) {
        animation-delay: 9s;
        background-image: url('../assets/bg1-300.webp');
    }
    .bg__img:nth-of-type(2) {
        animation-delay: 6s;
        background-image: url('../assets/bg2-300.webp');
    }
    .bg__img:nth-of-type(3) {
        animation-delay: 3s;
        background-image: url('../assets/bg3-300.webp');
    }
    .bg__img:nth-of-type(4) {
        animation-delay: 0s;
        background-image: url('../assets/bg4-300.webp');
    }
    .content {
        max-height: 500px;
        padding: 20px 0;
    }
    .footer {
        font-size: 16px;
    }
    .footer__main {
        gap: 50px;
        padding: 20px;
    }
}