@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;600&display=swap');

/*
    VARIABLES
*/

* {
    --dark-grey: #474747;
    --white: #E0E0CE;
    --white-opacity: rgba(224, 224, 206, 0.4);
    --red: #C3423F;
    --red-opacity: rgba(195, 66, 63, 0.5);
    --header-font: 'Quantico', sans-serif;
    --content-font: "Teko", sans-serif;
    margin: 0;
    padding: 0;
}